.hero-detalle {
  margin: auto;
  position: relative; 
}

.btn-success {
  color: #fff;
  background-color: #218838;
  border: 0;
  border-color: #1e7e34;
  padding: 10px 15px;
}

.btn-link {
  border: 0;
  color: #0056b3;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
  padding: 10px 15px;  
}

.description {
  margin: 20px auto;
  width: 80%;
}



@media (min-width: 992px) { 
	.hero-detalle {    
    width: 40%;  
  }		
}