
<nav>
  <a routerLink="/heroes" routerLinkActive="active-link">Héroes</a>
  <a routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
</nav>


<section class="sec-heroeslist">

  <!-- 
    ya no se utiliza porque la aplicacion solo mostrará
     el Componente Heroes cuando el usuario navegue  hacia el
    <app-heroes></app-heroes> 
  --> 

  <router-outlet></router-outlet> 
  <!--
    El router-outlet le dice al enrutador donde mostrar las vistas enrutadas
   -->

  <app-messages></app-messages>
</section>


