.heroe-enlace {
  background: #eee;
  padding: 20px 5px;
  flex-direction: column;
  justify-content: center;
}

h4 {
  margin: 0;
  font-size: 14px;
  color: #444;
}

.list-heroes {
  grid-gap: 16px 16px;
}
